.drag-drop-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .drag-drop-box:hover {
    background-color: #f8f8f8;
  }
  
  /* .btn-primary {
    width: 100px; */
  /* } */
   